/* #quote {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 750px;
  left: 20px;
  color: #c6c2c6;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 13px;
} */

#quote {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #c6c2c6;
  font-size: 13px;
  z-index: -1;
}
